<div class="btn-group mb-3" role="group" *ngIf="isLcpAdmin">
  <button (click)="onOpenAddProductModal()" type="button" class="btn btn-outline-secondary">
    <i class="fa fa-plus"></i>
    Add product
  </button>
  <button (click)="onOpenAddCategoryModal()" type="button" class="btn btn-outline-secondary">
    <i class="fa fa-plus"></i>
    Register Category
  </button>
  <button (click)="onOpenAddProducerModal()" type="button" class="btn btn-outline-secondary">
    <i class="fa fa-plus"></i>
    Register Producer
  </button>
</div>
