<div class="container-fluid content">
  <div class="row">
    <div class="col-2">
      <div class="card mb-3">
        <div class="card-header"><i class="fas fa-list"></i> Channels</div>
        <div class="list-group">
          <a
            routerLink="account-management"
            routerLinkActive="active"
            class="list-group-item list-group-item-action"
          >
            Account management
          </a>
        </div>
      </div>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
