<div class="container-fluid content">
  <div class="row">
    <div class="col-2">
      <button class="btn btn-danger">Create new product</button>
    </div>
    <div class="col-10">
      <form [formGroup]="createProductGroup" (ngSubmit)="onSubmit()" style="width: 50%">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="name" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <input type="text" formControlName="description" class="form-control" id="description">
        </div>
        <div class="form-group">
          <label for="name">Price</label>
          <input type="text" formControlName="price" class="form-control" id="price">
        </div>
        <div class="form-group">
          <label for="name">Category</label>
          <select formControlName="category" class="custom-select">
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.displayName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Producer</label>
          <select formControlName="producer" class="custom-select">
            <option *ngFor="let producer of producers" value="{{producer.id}}">{{producer.displayName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file" (change)="onFileChanged($event)" class="form-control" id="image">
        </div>
        <button class="btn btn-danger" type="submit" style="width: 100%">Submit</button>
      </form>
<!--      <img src="http://localhost:9000/ming/3exLa2o8NyE.jpg">-->
<!--      <img src="http://localhost:9000/testbucket/60578360.jpeg">-->
<!--      <video crossorigin preload="auto" src="http://localhost:9000/testbucket/chat_demo.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=testadmin%2F20220612%2F%2Fs3%2Faws4_request&X-Amz-Date=20220612T045156Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=d3e7656a1aebc425abf1d660842a145c632fdd7007626a08300bf9d5fc0cb8f2"></video>-->
<!--      <video width="400" controls>-->
<!--        <source src="http://localhost:9000/testbucket/Juice%20WRLD%20-%20Conversations%20%28Skeler%20Remix%29.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=testadmin%2F20220612%2F%2Fs3%2Faws4_request&X-Amz-Date=20220612T052949Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=e16a2a38811f0050d706294c60ac2cab79da70ed03a876a04bed4d2c3e9d697d" type="video/mp4">-->
<!--        Your browser does not support HTML video.-->
<!--      </video>-->
    </div>
  </div>
</div>
