<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <img
    class="img-fluid rounded-circle mr-3"
    src="assets/images/avatar/smile.jpg"
    alt="notebook"
    style="height: 2em"
  />
  <a class="navbar-brand" routerLink="/products">Socket</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isLcpAdmin">
        <a routerLink="/admin-panel" class="nav-link">Admin Panel</a>
      </li>
      <li class="nav-item">
        <a routerLink="/messenger" class="nav-link">Messenger</a>
      </li>
      <li class="nav-item">
        <a routerLink="/messenger-styled" class="nav-link">Messenger v2</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="userProfile">
      <li class="nav-item disabled">
        <a
          class="nav-link"
          routerLink="/account-details"
          routerLinkActive="active"
        >
          <i class="fas fa-smile"></i>
          {{ userProfile.firstName }} {{ userProfile.lastName }} ({{
            userProfile.email
          }})
        </a>
      </li>
    </ul>
    <!--    <img *ngIf="isLogged" src="{{account.photoUrl}}" class="rounded-circle mr-3" style="width: 35px">-->

    <app-cart-status></app-cart-status>

    <div *ngIf="!isLogged; else logout" class="navbar-nav">
      <a class="nav-link" type="submit" (click)="onSignIn()">
        <i class="fas fa-sign-in-alt fa-lg"></i> Sign In</a
      >
      <a class="nav-link" type="submit" (click)="onSignUp()">
        <i class="fa fa-user-plus"></i> Sign Up</a
      >
    </div>
    <ng-template #logout>
      <div class="navbar-nav">
        <a class="nav-link" type="submit" (click)="onSignOut()">
          <i class="fas fa-sign-out-alt fa-lg"></i> Sign Out</a
        >
      </div>
    </ng-template>
  </div>
</nav>
