<div class="container-fluid">
  <div class="row">
    <div class="col-7" style="border-right: 1px solid #dee2e6">
      <h3>About product</h3>
      <hr />
      <img src="{{ product?.imageUrl }}" height="500" class="datail-image" />
      <h3>{{ product?.name }}</h3>
      <div>
        <strong>{{ product?.price | currency: "USD" }}</strong>
      </div>
      <button (click)="onAddToCart()" class="btn btn-dark mt-2">
        Add to cart
      </button>
      <hr />
      <h4>Description</h4>
      <p>{{ product?.description }}</p>
      <h4>Video Overview</h4>
      <video width="300" controls class="mr-1 mb-1">
        <source
          src="http://localhost:9000/testbucket/Juice%20WRLD%20-%20Conversations%20%28Skeler%20Remix%29.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=testadmin%2F20220612%2F%2Fs3%2Faws4_request&X-Amz-Date=20220612T052949Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=e16a2a38811f0050d706294c60ac2cab79da70ed03a876a04bed4d2c3e9d697d"
          type="video/mp4"
        />
        Your browser does not support HTML video.
      </video>
      <video width="300" controls class="mr-1 mb-1">
        <source
            src="http://localhost:9000/testbucket/Juice%20WRLD%20-%20Conversations%20%28Skeler%20Remix%29.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=testadmin%2F20220612%2F%2Fs3%2Faws4_request&X-Amz-Date=20220612T052949Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=e16a2a38811f0050d706294c60ac2cab79da70ed03a876a04bed4d2c3e9d697d"
            type="video/mp4"
        />
        Your browser does not support HTML video.
      </video>
      <video width="300" controls class="mr-1 mb-1">
        <source
            src="http://localhost:9000/testbucket/Juice%20WRLD%20-%20Conversations%20%28Skeler%20Remix%29.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=testadmin%2F20220612%2F%2Fs3%2Faws4_request&X-Amz-Date=20220612T052949Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=e16a2a38811f0050d706294c60ac2cab79da70ed03a876a04bed4d2c3e9d697d"
            type="video/mp4"
        />
        Your browser does not support HTML video.
      </video>
      <div>
        <a routerLink="/products" class="btn btn-outline-dark">Back</a>
      </div>
    </div>
    <div class="col-5">
      <h3>Reviews</h3>
      <hr />

      <ng-template #elseTemplate>
        <div class="alert alert-warning" role="alert">
          To leave review, please sign in
        </div>
      </ng-template>

      <form
        *ngIf="isLogged; else elseTemplate"
        [formGroup]="reviewFormGroup"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group">
          <label for="review">Leave your review</label>
          <textarea
            formControlName="review"
            class="form-control"
            id="review"
            rows="3"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Sumbit</button>
      </form>

      <div *ngFor="let review of reviews">
        <div class="card mb-3 mt-3">
          <div class="card-header">
            <img
              [src]="review.reviewerPhotoUrl"
              height="30px"
              class="rounded-circle"
            />
            {{ review.reviewerFirstName }} {{ review.reviewerLastName }}
            <span style="float: right"> {{ review.duration }}</span>
          </div>

          <div class="card-body">
            {{ review.content }}
            <hr />
            <button
              *ngIf="isLogged"
              (click)="onReplies(review.id)"
              class="btn btn-light btn-sm mr-3"
            >
              Reply
            </button>
            <button
              *ngIf="review?.childrenReviews && review.childrenReviews?.length"
              type="button"
              class="btn btn-light btn-sm"
              (click)="onViewReplies(review.id)"
            >
              View Replies ({{ review.childrenReviews?.length }})
            </button>
          </div>
        </div>

        <div *ngIf="currentReplies.includes(review.id)" class="row">
          <div class="col-1"></div>
          <div class="col-11 input-group mb-1">
            <input
              #Reply
              type="text"
              class="form-control"
              placeholder="Enter your answer..."
            />
            <div class="input-group-append">
              <button
                (click)="onSubmitReply(Reply.value, review.id)"
                class="btn btn-outline-secondary btn-sm"
              >
                Reply
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="currentViewReplies.includes(review.id)">
          <div *ngFor="let subReview of review.childrenReviews" class="row">
            <div class="col-1"></div>
            <div class="col-11 mb-1">
              <div class="card" style="font-size: 14px">
                <div class="card-header">
                  <img
                    [src]="subReview.reviewerPhotoUrl"
                    height="20px"
                    class="rounded-circle"
                  />
                  {{ subReview.reviewerFirstName }}
                  {{ subReview.reviewerLastName }}
                  <span style="float: right"> {{ subReview.duration }}</span>
                </div>
                <div class="card-body">
                  <span> {{ subReview.content }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
