<div class="row">
  <div class="col-3">
    <div class="card mb-3">
      <div class="card-header"><i class="fas fa-list"></i> Channels</div>
      <div class="list-group" style="border-radius: 0%">
        <div *ngFor="let channel of channels">
          <a
            (click)="onChange(channel.id)"
            class="list-group-item list-group-item-action"
            [ngClass]="{ active: channelId == channel.id }"
            >{{ channel.name }}</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <!-- Room Field -->
    <div *ngIf="!userProfile" class="alert alert-warning">
      <strong>Warning! </strong> To use the chat, please, sign in!
    </div>
    <!-- All chat messages will be appended here -->
    <div class="mb-3">
      <label class="form-label">Messages</label>
      <div #scrollMe class="form-control overflow-auto" style="overflow: scroll; height: 500px" [scrollTop]="scrollMe.scrollHeight">
        <div *ngFor="let result of resultObserver | async">
          <b [style.color]="result.authorId === userProfile.id ? 'red' : ''"
            >{{ userProfile.firstName }} {{ userProfile.lastName }} :</b
          >
          {{ result.content }}
        </div>
      </div>
    </div>

    <!-- Type your messages to be sent -->
    <form [formGroup]="messageFormGroup" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
        <input formControlName="messageContent" type="text" class="form-control" placeholder="Type your message here" />
        <button [disabled]="!channelId" class="btn btn-secondary" type="submit">Send</button>
      </div>
    </form>
    <button class="btn btn-secondary">DELETE</button>
  </div>
</div>
