<!-- Name Field -->
<div class="row mt-5">
  <div class="col-2"></div>
  <div class="col-8">
    <!-- Room Field -->
    <div *ngIf="!userProfile" class="alert alert-warning">
      <strong>Warning! </strong> To use  the chat, please, sign in!
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Channel</span>
      <select [disabled]="!userProfile" (change)="onChange($event)" class="custom-select">
        <option disabled selected hidden>Choose...</option>
        <option value="1">Chetkie pacani</option>
        <option value="2">Animeshniki</option>
        <option value="3">Petushari</option>
        <option value="4">Gamnaedy</option>
      </select>
    </div>
    <!-- All chat messages will be appended here -->
    <div class="mb-3">
      <label class="form-label">Messages</label>
      <div class="form-control overflow-auto" style="height: 500px">
        <div *ngFor="let result of resultObserver | async ">
          <b [style.color]="result.author === userProfile.firstName?'red':''" >{{ result.author }}:</b> {{ result.content }}
        </div>
      </div>
    </div>

    <!-- Type your messages to be sent -->
    <form [formGroup]="messageFormGroup" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
        <input
          formControlName="messageContent"
          type="text"
          class="form-control"
          placeholder="Type your message here"
        />
        <button
            [disabled]="!channel"
            class="btn btn-secondary" type="submit">Send</button>
      </div>
    </form>
    <button (click)="onDeleteMessage()" class="btn btn-secondary">DELETE</button>
  </div>
</div>

<!--<table class="table table-bordered">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Id</th>-->
<!--        <th>content</th>-->
<!--        <th>channel</th>-->
<!--        <th>delete</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let message of results">-->
<!--        <td>-->
<!--            <div>{{ message.id }}</div>-->
<!--        </td>-->
<!--        <td>-->
<!--            <div>{{ message.content }}</div>-->
<!--        </td>-->
<!--        <td>-->
<!--            <div>{{ message.channel }}</div>-->
<!--        </td>-->
<!--        <td>-->
<!--            <button (click)="onDeleteMessage(message.id)" class="btn btn-danger">-->
<!--                Delete-->
<!--            </button>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
