<div class="row">
  <div class="col-2">
    <div class="card mb-3">
      <div class="card-header"><i class="fas fa-list"></i> Options</div>
      <div class="list-group" style="border-radius: 0%">
        <a routerLink="account-info" routerLinkActive="active" class="list-group-item list-group-item-action">Account Info</a>
        <a routerLink="account-orders" routerLinkActive="active" class="list-group-item list-group-item-action">Account Orders</a>
      </div>
    </div>
  </div>
  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
</div>
