<h4>Account info</h4>
<hr />

<div class="mt-2">
  <label>Photo:</label>
  <div>
    <img src="{{ photoUrl }}" style="width: 20%" />
  </div>
</div>
<form [formGroup]="updateAccountFormGroup" (ngSubmit)="onSubmit()" class="mt-2" style="width: 50%">
  <div class="input-group">
    <input type="file" (change)="onFileChanged($event)" class="form-control" id="image" />
    <button type="submit" class="btn btn-danger">Update</button>
  </div>
</form>

<div class="mt-2">
  <label>ID:</label>
  <p style="font-size: 22px">{{ userProfile?.id }}</p>
</div>

<div class="mt-2">
  <label>First Name:</label>
  <p style="font-size: 22px">{{ userProfile?.firstName }}</p>
</div>

<div class="mt-4">
  <label>Last Name:</label>
  <p style="font-size: 22px">{{ userProfile?.lastName }}</p>
</div>

<div class="mt-4">
  <label>Email:</label>
  <p style="font-size: 22px">{{ userProfile?.email }}</p>
</div>

<div class="mt-4">
  <label>Status:</label>
  <p style="font-size: 22px">{{ account?.accountStatus }}</p>
</div>

<div class="mt-4">
  <label>Realm:</label>
  <p style="font-size: 22px">{{ account?.realmName }}</p>
</div>
